.home {
    width: 50vw;
    margin: 5vh auto;
    border: 1px solid black;
}

.home .logo {
    display: flex;
    justify-content: center;
}

.home .logo img {
    width: 20%;
    margin-bottom: 10vh;
}